body {
  background-color: Azure;
}

h1 {
  font-family: verdana;
  color: black;
  text-align: center;
}

h2 {
  font-family: verdana;
  text-align: center;
}

h3 {
  font-family: verdana;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}